%h1 בסביבה
%h2.text-center
    קישורים מומלצים למסעדות ואטרקציות בסביבה 
%hr

.container.around
    .row
        .col-4
            %a{href:"https://moshbutz.co.il/"}
                %p.img-container= image_tag "around/moshbutz.webp", class: "img-fluid"
                %p מסעדת המושבוצ - מושב רמות
        .col-4
            %a{href:"https://www.instagram.com/nino_coffeecart/"}
                %p.img-container= image_tag "around/nino.jpg", class: "img-fluid"
                %p עגלת קפה נינו במעלה גמלא
        .col-4
            %a{href:"https://www.marinado.co.il/"}
                %p.img-container= image_tag "around/marinado.webp", class: "img-fluid"
                %p מרינדו מסעדת בשר בעין גב
        .col-4
            %a{href:"https://www.tibis.co.il/"}
                %p.img-container= image_tag "around/tibis.webp", class: "img-fluid"
                %p מסעדת טיביס בורד הגליל
        .col-4
            %a{href:"https://www.gillis.co.il/"}
                %p.img-container= image_tag "around/gillis.png", class: "img-fluid"
                %p מסעדת גיליס בנוב (כשר)
        .col-4
            %a{href:"https://www.mall-kinneret.co.il/"}
                %p.img-container= image_tag "around/tzemach.webp", class: "img-fluid"
                %p מול כנרת צמח - מסעדות, חנויות סופרמרקט
        .col-4
            %a{href:"https://mattarello.co.il/"}
                %p.img-container= image_tag "around/mattarello.jpg", class: "img-fluid"
                %p מרטלו - בית קפה קטן בקיבוץ עין זיוון
        .col-4
            %a{href:"https://www.meatshos.co.il/"}
                %p.img-container= image_tag "around/meatshoes.webp", class: "img-fluid"
                %p מיטשוס - מסעדת בשרים בקצרין
        .col-4
            %a{href:"https://www.rutenberg.co.il/"}
                %p.img-container= image_tag "around/rutenberg.png", class: "img-fluid"
                %p רוטנברג - מסעדת שף בגשר
        .col-4
            %a{href:"https://www.facebook.com/meshekregev1"}
                %p.img-container= image_tag "around/meshekregev.webp", class: "img-fluid"
                %p משק רגב - מכולת- ירקניה בשירות עצמי
        .col-4
            %a{href:"https://www.1910.co.il/"}
                %p.img-container= image_tag "around/1910.webp", class: "img-fluid"
                %p מסעדת 1910 - דגניה א׳
        .col-4
            %p.img-container= image_tag "around/spa.jpg", class: "img-fluid"
            %p טיפולי ספא: 055-6618718 בתאל


