%h1 בסביבה
%h2.text-center
    קישורים מומלצים למסעדות ואטרקציות בסביבה 
%hr

.container.around
    .row
        .col-4
            %a{href:"https://moshbutz.co.il/"}
                %p.img-container= image_tag "around/moshbutz.webp"
                %p מסעדת המושבוצ - מושב רמות
        .col-4
            %a{href:"https://www.instagram.com/nino_coffeecart/"}
                %p.img-container= image_tag "around/nino.jpg"
                %p עגלת קפה נינו במעלה גמלא
        .col-4
            %a{href:"https://www.marinado.co.il/"}
                %p.img-container= image_tag "around/marinado.webp"
                %p מרינדו מסעדת בשר בעין גב
        .col-4
            %a{href:"https://www.tibis.co.il/"}
                %p.img-container= image_tag "around/tibis.webp"
                %p מסעדת טיביס בורד הגליל
        .col-4
            %a{href:"https://www.gillis.co.il/"}
                %p.img-container= image_tag "around/gillis.png"
                %p מסעדת גיליס בנוב (כשר)
        .col-4
            %a{href:"https://www.mall-kinneret.co.il/"}
                %p.img-container= image_tag "around/tzemach.webp"
                %p מול כנרת צמח - מסעדות, חנויות סופרמרקט
        .col-4
            %a{href:"https://mattarello.co.il/"}
                %p.img-container= image_tag "around/mattarello.jpg"
                %p מרטלו - בית קפה קטן בקיבוץ עין זיוון
        .col-4
            %a{href:"https://www.meatshos.co.il/"}
                %p.img-container= image_tag "around/meatshoes.webp"
                %p מיטשוס - מסעדת בשרים בקצרין
        .col-4
            %a{href:"https://www.rutenberg.co.il/"}
                %p.img-container= image_tag "around/rutenberg.png"
                %p רוטנברג - מסעדת שף בגשר

