.container
  %h1 Contact Form
  = form_for contact do |f|
    .col-md-6
      = f.label :name
      = f.text_field :name, required: true, class: "contact-form-text-area"
      = f.label :email
      = f.text_field :email, required: true, class: "contact-form-text-area"
      = f.label :message
      = f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area", placeholder: "Send me a message"
      .hidden
        = f.label :nickname
        = f.text_field :nickname, :hint => 'Leave this field blank!'
      = f.submit 'Send Message', class: 'btn btn-primary'
