!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "שקט בענן - צימרים במעלה גמלא", :name => "description"}
    %meta{:content => "Maala Gamla, Golan, The Golan Heights, Hotels in Golan, צימר, מעלה גמלא, רמת הגולן, צימרים בגמלא, צימרים במעלה גמלא, צימרים בגולן", :name => "keywords"}

    %link{:href => "https://fonts.googleapis.com", :rel => "preconnect"}/
    %link{:crossorigin => "", :href => "https://fonts.gstatic.com", :rel => "preconnect"}/
    %link{:href => "https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap", :rel => "stylesheet"}/
    %link{rel:"shortcut icon", href:image_url("favicon.ico"), type:"image/x-icon"}
    %link{rel:"icon", href:image_url("favicon.ico"), type:"image/x-icon"}

    %script{src: "https://use.fontawesome.com/releases/v5.15.4/js/all.js", "data-mutate-approach" => "sync"}
    %script{src: "https://code.jquery.com/jquery-1.11.3.min.js"}
    %script{async:"", src: "https://www.googletagmanager.com/gtag/js?id=G-QYV0THMFLW"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QYV0THMFLW');


    %title שקט בענן
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body#top
    %div.container.text-center
      - flash.each do |key, message|
        %p{:class => "alert alert-#{key}"}
          = message

    %main
      %nav.navbar.navbar-expand.bg-light.shadow-lg.navbar-nav
        %ul.navbar-nav
          %a.navbar-brand{:href => "/he/home"}
            שקט בענן
            %strong.d-block צימרים בגמלא
          %li.nav-item
            %a.nav-link{:href => "/he/suites"} הסוויטות
          %li.nav-item
            %a.nav-link{:href => "/he/gallery"} גלריה
          %li.nav-item
            %a.nav-link{:href => "/he/orders"} הזמנות
          %li.nav-item
            %a.nav-link{:href => "/he/contact"} צור קשר
          %li.nav-item
            %a.nav-link{:href => "/he/around"} בסביבה

    .container
      .row
        = yield

    %footer#contact.site-footer.section-padding
      .container
        .row
          .col
            %h5.mb-lg-4.mb-3 צור קשר
            %p
              %a{:href => "mailto:amit.ben.hagai@gmail.com"} amit.ben.hagai@gmail.com
            %p
            %p שקט בענן, מעלה גמלא
            %p.contact-phone.mb-0
              %a{href: "tel:+972-52-2561725"}
                %i.bi-phone
                +972-52-2561725
              
          .col
            %h5.mb-lg-4.mb-2 Socials
            %ul.social-icon
              %li
                %a{:href => "https://api.whatsapp.com/send?phone=+972522561725"}
                  %i.fab.fa-2x.fa-whatsapp
              %li
                %a{:href => "https://www.facebook.com/quietincloud"}
                  %i.fab.fa-2x.fa-facebook
              %li
                %a{:href => "https://www.instagram.com/sheketbe/"}
                  %i.fab.fa-2x.fa-instagram
              %li
                %a{:href => "https://www.waze.com/he/live-map/directions/%D7%9E%D7%A2%D7%9C%D7%94-%D7%92%D7%9E%D7%9C%D7%90?to=place.ws.36323.none"}
                  %i.fab.fa-2x.fa-waze
          
          .col.d-none.d-md-block
            %p.copyright-text
              Copyright © Yetka tour
              = Time.zone.now.year
              %br/
              Design:
              %a{:href => "/", :target => "_parent"} Benkels
